{% extends "base.html" %}
{% load static %}

{% block title %}
  Meu Blog
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/index.css" %}"/>
{% endblock %}

{% block content %}
  <section id="welcome">
    <header>
      <img src="{% static 'blog/images/person.jpg' %}" alt="Fil - Autor do Blog"/>
      <h2>Blog do Fil</h2>
    </header>
    <p>Olá!, me chamo Filipi e curto muito todo esse universo da programação!</p>
  </section>

  <section id="latest-posts">
    <h2>Últimos Posts</h2>

    <ul>
      {% for post in posts %}
        {% include "blog/includes/post.html" %}
      {% endfor %}
    </ul>
  </section>

  <section id="about">
    <h2>O que eu faço</h2>
    <p>lorem ipsum dolor sit amet, consect</p>
    <p>lorem ipsum dolor sit amet, consectetur</p>
  </section>
{% endblock %}